<span><%= address&.first_name %> <%= address&.last_name %></span>
<span><%= address&.company %></span>
<span><%= address&.address_1 %></span>
<span><%= address&.address_2 %></span>
<span><%= address&.city %> <%= address&.zip_code %></span>
<span><%= address&.country %></span>
<span><%= address&.email %></span>
