<div class="padding-t mb-5">
  <h2 class="box-green-text pt-resp-16 pb-resp-16"><%= t('.select_payment_method') %></h2>
  <p class="box-green-text"><%= t('.select_payment_method_details') %></p>
  <div class="payment-box">
    <div class="align-self-center">
      <%= render 'stripe_button', cart: cart %>
    </div>
    <%= link_to create_paypal_payments_path, method: :post, class: "btn conscients-btn btn-white btn-pay border-paypal align-self-center" do %>
      <%= image_tag "paypal.png", title: "PAYPAL", height: 20 %>
    <% end %>

    <%= link_to t('.bank_transfer'), create_bank_transfer_payments_path, method: :post, title: t('.bank_transfer'), class: "btn conscients-btn btn-white btn-pay border-green align-self-center" %>

  </div>
</div>

