<h1><%=t 'pages.terms.informations-legales-title' %></h1>
<p><%=t 'pages.terms.informations-legales' %></p>
<h1><%=t 'pages.terms.conditions-generales' %></h1>
<h2><%=t 'pages.terms.objet' %></h2>
<h2><%=t 'pages.terms.donnees-personnelles' %></h2>
<h2><%=t 'pages.terms.propriete-intellectuelle' %></h2>
<h2><%=t 'pages.terms.responsabilite' %></h2>
<h2><%=t 'pages.terms.avertissement' %></h2>
<h2><%=t 'pages.terms.competence' %></h2>




